<!-- =========================
         CONTACT SECTION
    ============================== -->
    <section id="contact3-1" class="p-y-lg contact bg-edit">
        <div class="container p-a-0">
                
                <div class="row m-a-0 spotlight-block img-left">
                    <!-- Text Block -->
                    <div class="col-md-6 col-md-offset-3 bg-blue text-white spotlight-text center-md">
                        <div class="vertical-center-rel">
                            <h3 class="text-uppercase f-w-900 wow slideInRight text-center monako">Cuenta de depósito.</h3>
                            <ul class="wow slideInRight text-center">
                                <li>BBVA Bancomer - NUPALI A.C.</li>
                                <li>019-888-7586</li>
                                <li>CLABE - 0123-2000-19888-7586</li>
                                <li>Tarjeta  #4555-1130-0437-1300</li>
                                <li>RFC - Para recibos deducibles de Impuestos.</li>
                                <li>NUP-140411-378</li>
                            </ul>
                            <p class="m-b-md text-center">
                                Una vez realizado el depósito, envíanos un correo a <a href="mailto:contacto@nupali.org?subject=¿Cómo ayudar?">contacto@nupali.org</a> con la ficha y tus datos fiscales para enviarte tu recibo deducible de impuestos.de impuestos.
                            </p>

                            <p class="m-b-md text-center">
                                Si tu donativo es de manera en la que aportas tu tiempo y tus conocimientos bajo el esquema de servicio social con universidades o convicción propia, bienvenido.
                            </p>
                            <a href="{{ _host }}como-ayudar/voluntarios" class="btn btn-ghost smooth-scroll text-uppercase text-center" style="display: block !important;">Se un Voluntario</a>
                            <style type="text/css">
                                .spotlight-text p {
                                    line-height: 25px;
                                }
                                .spotlight-text p a {
                                    color: #fff;
                                    border-bottom:  2px solid #fff;
                                    padding-bottom: 5px;
                                }
                                .spotlight-text a {
                                    color: #fff;
                                }
                            </style>
                        </div>
                    </div>
                </div><!-- /End Row -->
            
            </div><!-- /End Container  -->
    </section>   
    <!-- /End Contact Section -->