<form class="enter-voice" id="get-voice">
    <div class="" style="padding: 100% 0;">
        <div class="col-md-12">
            <div class="form-group">
                <label for="salida" class="sr-only">Pronuncia tu Nombre</label>
                <input class="form-control" id="salida"  placeholder="Tu nombre...">
                <script>
                    global.add_voice_name();
                </script>
            </div>
        </div>
    </div>
</form>
