    {% extends 'main.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block section %}{{ _section }}{% endblock %}
{% block header_nav_container %}
    {% embed "assets/header.twig" %}{% endembed %}
{% endblock %}
{% block content %}
	{# Hero Sention home #}
    <div id="inicio" class="scroll-section-spy"></div>
	{% embed "inicio/hero_secion.twig" %}{% endembed %}

	{# About us #}
    <div id="nosotros" class="scroll-section-spy"></div>
	{% embed "inicio/about.twig" %}{% endembed %}

    {# Proyectos #}
    <div id="proyectos" class="scroll-section-spy"></div>
    {% embed "inicio/proyectos.twig" %}{% endembed %}

    {# Proyectos #}
    <div id="logros" class="scroll-section-spy"></div>
    {% embed "inicio/logros.twig" %}{% endembed %}

	{# Gallery #}
    <div id="galeria" class="scroll-section-spy"></div>
	{% embed "inicio/gallery.twig" %}{% endembed %}

    {# logos #}
    {% embed "inicio/logos.twig" %}{% endembed %}

    {# Team #}
    <div id="equipo" class="scroll-section-spy"></div>
    {% embed "inicio/team.twig" %}{% endembed %}

{% endblock content %}