{# =========================
   ABOUT US
============================== #}
<section id="nosotros" class="p-y-lg">

    <div class="container">
        {# Section Header #}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header text-center wow fadeIn">
                    <h2 class="monako">NOSOTROS</h2>
                   {#
                    <p class="lead">Our approach is simple and iterative. We believe in creating opportunities for passionate innovators that want to change the world.</p>
                    #}
                </div>
            </div>
        </div>{# /End Section Header #}


        <div class="row features-tab m-y">

            {#Tab Item #}
            <div class="tab-title current">
                <p class="f-w-900 m-b-0 monako">¿CÓMO TRABAJAMOS? <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content content-align-md">
                <div class="row text-left">
                    <div class="col-md-12">
                        {#<h4>Creating a results driven experience</h4>#}
                        <p class="p-tab m-b-md"></p>
                    </div>
                </div>
                <div class="row y-middle c2">
                    <div class="col-md-12">
                        <div class="features-block">
                            <div class="col-sm-12 m-b-md clearfix" style="text-align: center;">
                                <img src="img/assets/logo/colibri-gde.png" alt="NUPALI" style="width: 20%;">
                                {#<i class="icon-target2"></i>#}
                                <h5 class="m-t f-w-900 monako" style="font-size: 1.9em; line-height: 40px;">En Nupali A.C.</h5>
                            </div>
                            <div class="col-sm-12 m-b-md clearfix">
                                <p style="font-size: 1.5em; line-height: 40px;">Buscamos el bien común, por ello nuestro principal compromiso es hacia la comunidad porque creemos que todas las personas, sin importar edad, raza, condición social o género; pueden comprometerse e involucrarse en causas solidarias, aportar su tiempo y su esfuerzo para generar una transformación social positiva.</p>
                            </div>
                            {#
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-strategy"></i>
                                <h5 class="m-t f-w-900">Digital Strategy</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                            #}
                        </div>
                    </div>
                    {#
                    <div class="col-md-6">
                        <img src="img/bg-2.jpg" class="img-responsive m-x-auto" alt="">
                    </div>
                    #}
                </div>
            </div>{# /End Tab Content #}

            {# }Tab Item #}
            <div class="tab-title">
                <p class="f-w-900 m-b-0 monako"><i class="fa fa-rocket fa-fw fa-lg fa-2x" style="padding-right: 55px;" aria-hidden="true"></i> MISIÓN <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content content-align-md">
                <div class="row text-left">
                    {#
                    <div class="col-md-12">
                        <h4>Creating a results driven experience</h4>
                        <p class="p-tab m-b-md">Promover la participación comunitaria, organizada y cívica, mediante programas de sensibilización, educación y recuperación sustentable de espacios públicos.</p>
                    </div>
                    #}
                </div>
                <div class="row y-middle c2">
                    <div class="col-md-12">
                        <div class="features-block">
                            <div class="col-sm-12 m-b-md clearfix" style="text-align: center;">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                                <br>
                                {# <i class="icon-target2"></i> #}
                                {# <h5 class="m-t f-w-900">Competitive Analysis</h5> #}
                            </div>
                            <div class="col-sm-10 col-sm-offset-1    m-b-md clearfix">
                                <p style="font-size: 1.5em; line-height: 40px;">Promover la participación comunitaria organizada y cívica de la sociedad mexicana mediante programas de sensibilización, educación y recuperación sustentable de espacios públicos.</p>
                            </div>
                            {#*
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-strategy"></i>
                                <h5 class="m-t f-w-900">Digital Strategy</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                            #}
                        </div>
                    </div>
                    {#
                    <div class="col-md-6">
                        <img src="img/bg-2.jpg" class="img-responsive m-x-auto" alt="">
                    </div>
                    #}
                </div>
            </div>{# /End Tab Content #}

            {# Tab Item #}
            <div class="tab-title">
                <p class="f-w-900 m-b-0 monako"><i class="fa fa-compass fa-fw fa-lg fa-2x" style="padding-right: 55px;" aria-hidden="true"></i> VISIÓN <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content content-align-md">
                <div class="row text-left">
                    {#
                    <div class="col-md-12">
                        <h4>Creating a results driven experience</h4>
                        <p class="p-tab m-b-md">Promover la participación comunitaria, organizada y cívica, mediante programas de sensibilización, educación y recuperación sustentable de espacios públicos.</p>
                    </div>
                    #}
                </div>
                <div class="row y-middle c2">
                    <div class="col-md-12">
                        <div class="features-block">
                            <div class="col-sm-12 m-b-md clearfix" style="text-align: center;">
                                <i class="fa fa-compass" aria-hidden="true"></i>
                                <br>
                                {# <i class="icon-target2"></i> #}
                                {# <h5 class="m-t f-w-900">Competitive Analysis</h5> #}
                            </div>
                            <div class="col-sm-10 col-sm-offset-1    m-b-md clearfix">
                                <p style="font-size: 1.5em; line-height: 40px;">Somos una asociación civil incluyente y comprometida en la solución creativa a problemas socio-ambientales, cuyo modelo de participación es reconocido por su impacto positivo en la transformación de la comunidad.</p>
                            </div>
                            {#
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-strategy"></i>
                                <h5 class="m-t f-w-900">Digital Strategy</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                            #}
                        </div>
                    </div>
                    {#
                    <div class="col-md-6">
                        <img src="img/bg-2.jpg" class="img-responsive m-x-auto" alt="">
                    </div>
                    #}
                </div>
            </div>{# /End Tab Content #}

            {# Tab Item #}
            <div class="tab-title">
                <p class="f-w-900 m-b-0 monako"><i class="fa fa-handshake-o fa-fw fa-lg fa-2x" style="padding-right: 55px;" aria-hidden="true"></i>VALORES <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content content-align-md">
                {#
                <div class="row text-left">
                    <div class="col-md-12">
                        <h4>Respeto</h4>
                        <p class="p-tab m-b-md">Reconocemos nuestro ser en los ojos y derechos de los demás.</p>
                        <br>
                        <h4>Compromiso</h4>
                        <p class="p-tab m-b-md">Entendemos que el tiempo y conocimiento de cada ser es invaluable.</p>
                        <br>
                        <h4>Equidad</h4>
                        <p class="p-tab m-b-md">Elegimos hacer el bien sin mirar a quien.</p>
                        <br>
                        <h4>Honradez</h4>
                        <p class="p-tab m-b-md">Actuamos de corazón, expresándonos con sinceridad y coherencia.</p>
                        <br>
                        <h4>Creatividad</h4>
                        <p class="p-tab m-b-md">Generamos y aportamos a cada proyecto el arte y la pasión que llevamos dentro.</p>
                        <br>
                        <h4>Libertad</h4>
                        <p class="p-tab m-b-md">Comprendemos nuestra misión en el mundo por ello, mantenemos el alma pura y la mente despierta.</p>
                    </div>
                </div>
                <div class="row video y-middle c2">
                    <div class="col-md-8">
                        <img src="img/bg-1.jpg" alt="" class="img-responsive m-x-auto">
                    </div>
                    <div class="col-md-4">
                        <h5 class="f-w-900">Experience design is a way of thinking</h5>
                        <p>Natus cumque odio sit harum facilis excepturi deleniti voluptatibus odit alias perspiciatis eligendi.</p>
                    </div>
                </div>
                #}
                <div class="row y-middle c2">
                    <div class="col-md-12">
                        <div class="features-block">
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="fa fa-check" style="font-size: 30px;" aria-hidden="true"></i>
                                <h5 class="m-t f-w-900">Respeto</h5>
                                <p style="font-size: 18px;">Reconocemos nuestro ser en los ojos y derechos de los demás.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="fa fa-check" style="font-size: 30px;" aria-hidden="true"></i>
                                <h5 class="m-t f-w-900">Compromiso</h5>
                                <p style="font-size: 18px;">Entendemos que el tiempo y el conocimiento de cada ser es invaluable.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="fa fa-check" style="font-size: 30px;" aria-hidden="true"></i>
                                <h5 class="m-t f-w-900">Equidad</h5>
                                <p style="font-size: 18px;">Elegimos hacer el bien sin mirar a quien.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="fa fa-check" style="font-size: 30px;" aria-hidden="true"></i>
                                <h5 class="m-t f-w-900">Honradez</h5>
                                <p style="font-size: 18px;">Actuamos de corazón, expresándonos con sinceridad y coherencia.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="fa fa-check" style="font-size: 30px;" aria-hidden="true"></i>
                                <h5 class="m-t f-w-900">Creatividad</h5>
                                <p style="font-size: 18px;">Generamos y aportamos a cada proyecto el arte y la pasión que llevamos dentro.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="fa fa-check" style="font-size: 30px;" aria-hidden="true"></i>
                                <h5 class="m-t f-w-900">Libertad</h5>
                                <p style="font-size: 18px;">Comprendemos nuestra misión en el mundo, por ello mantenemos el alma pura y la mente despierta.</p>
                            </div>
                            {#
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-strategy"></i>
                                <h5 class="m-t f-w-900">Digital Strategy</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                            #}
                        </div>
                    </div>
                    {#
                    <div class="col-md-6">
                        <img src="img/bg-2.jpg" class="img-responsive m-x-auto" alt="">
                    </div>
                    #}
                </div>
            </div>{# /End Tab Content #}
            {#
            <!--Tab Item -->
            <div class="tab-title">
                <p class="f-w-900 m-b-0">HISTORIA <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4>Easy to use applications for every platform</h4>
                        <p class="p-tab m-b-md">Omnis cumque nulla maiores recusandae blanditiis et explicabo nobis temporibus, aspernatur esse animi voluptates quasi harum ipsum quis nobis molestias.</p>
                    </div>
                </div>

                <div class="row c2">
                    <div class="col-md-6">
                        <div class="features-block">
                            <div class="col-sm-12 icon-left m-b-md clearfix">
                                <i class="icon-mobile"></i>
                                <h5 class="m-t f-w-900">Responsive Design</h5>
                                <p>Magni, inventore iusto, eum expedita, dolorum placeat in nisi quisquam autem iure, nemo sapiente ipsa obcaecati iure.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-download2"></i>
                                <h5 class="m-t f-w-900">Third-party Integrations</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="features-block">
                            <div class="col-sm-12 icon-left m-b-md clearfix">
                                <i class="icon-basket"></i>
                                <h5 class="m-t f-w-900">eCommerce / Retail</h5>
                                <p>Magni, inventore iusto, eum expedita, dolorum placeat in nisi quisquam autem iure, nemo sapiente ipsa obcaecati iure.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-tablet2"></i>
                                <h5 class="m-t f-w-900">Mobile Development</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /End Tab Content -->

            <!--Tab Item -->
            <div class="tab-title">
                <p class="f-w-900 m-b-0">Content Managment <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content content-align-md">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4>Keeping your site update</h4>
                        <p class="p-tab m-b-md">Magni impedit nostrum dolorem velit ducimus unde eligendi tempora eligendi deserunt assumenda dolor neque minus voluptas at eveniet facere.</p>
                    </div>
                </div>

                <div class="row features-block">
                    <div class="col-md-10 col-md-offset-1 img-left m-b clearfix">
                        <img src="img/flat1.png" alt="">
                        <h5 class="m-t-md f-w-900">Content Marketing</h5>
                        <p>Odit non officiis vitae eaque quo temporibus blanditiis excepturi facilis, dolore provident et eligendi ut asperiores perferendis, maxime optio tempora.</p>
                    </div>
                    <div class="col-md-10 col-md-offset-1 img-left clearfix">
                        <img src="img/flat3.png" alt="">
                        <h5 class="m-t-md f-w-900">SEO</h5>
                        <p>Omnis nam quibusdam fugiat consectetur quasi iste, aspernatur eaque doloremque, magni dolores deserunt impedit fugit error consequuntur esse. </p>
                    </div>
                </div>
            </div><!-- /End Tab Content -->
            #}
        </div>{# /End Features-tab #}
    </div>{# /End Container #}
</section>
{# /End Features-Tab Section#}