{# =========================
   GALLERY
============================== #}
<section id="galeria" class="p-y-lg">

    {# Section Header #}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header text-center wow fadeIn">
                    <h2 class="monako">GALERÍA</h2>
                    {#
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque animi labore minus quidem eum voluptate, sapiente doloribus, molestias in explicabo totam.</p>
                    #}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {# Portfolio Item #}
            <div class="col-md-6 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn">
                    {# Item Image #}
                    <figure><img src="https://res.cloudinary.com/ddbmvzseg/image/upload/v1571173082/galerias/asistencia-social_hxploe.jpg" class="img-responsive" alt="Asistencia Social.">
                        {# Item Caption #}
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                {#
                                <h5>Tech Coffee</h5>
                                <p class="small">Liber theophrastus ea est, vel unum ubique feugait in. Has ne albucius tincidunt.</p>
                                #}
                                {# View More Button #}
                                <a href="{{ _host }}galerias/asistencia-social" class="btn btn-blue m-b-0 monako" title="">VER GALERÍA</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            {# Portfolio Item #}
            <div class="col-md-6 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.2s">
                    {# Item Image #}
                    <figure><img src="https://res.cloudinary.com/ddbmvzseg/image/upload/v1571173082/galerias/fomento-derechos-humanos_hvrzsz.jpg" class="img-responsive" alt="Fomento a los Derechos Humanos.">
                        {# Item Caption #}
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                {#
                                <h5>Image Filter</h5>
                                <p class="small">Quodsi volutpat persequeris cu vel, sea te dolorum dissentiet. Per an dicunt causae, id ipsum.</p>
                                #}
                                {# View More Button #}
                                <a href="{{ _host }}galerias/fomento-derechos-humanos" class="btn btn-blue m-b-0 monako" title="Project 2 - with description">VER GALERÍA</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            {# Portfolio Item #}
            <div class="col-md-6 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.4s">
                    {# Item Image #}
                    <figure><img src="https://res.cloudinary.com/ddbmvzseg/image/upload/v1571173082/galerias/participacion-comunitaria_d9cqoo.jpg" class="img-responsive" alt="Participacion Comunitaria.">
                        {# Item Caption #}
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                {#
                                <h5>Clean Sheet</h5>
                                <p class="small">Rebum insolens vim ne, no per zril mnesarchum inciderint. Quo dicat audire interesset cu.</p>
                                #}
                                {# View More Button #}
                                <a href="{{ _host }}galerias/participacion-comunitaria" class="btn btn-blue m-b-0 monako" title="Project 3 - with description">VER GALERÍA</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            {# Portfolio Item #}
            <div class="col-md-6 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.6s">
                    {# Item Image #}
                    <figure><img src="https://res.cloudinary.com/ddbmvzseg/image/upload/v1571173082/galerias/recuperacion-espacio-publico_ipxb0z.jpg" class="img-responsive" alt="Recuperación de espacio público.">
                        {# Item Caption #}
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                {#
                                <h5>Desktop Sound</h5>
                                <p class="small">Congue platonem ei usu, cu erroribus principes ius. Ea per case epicurei, iisque utroque corpora vis an.</p>
                                #}
                                {# View More Button #}
                                <a href="{{ _host }}galerias/recuperacion-espacio-publico" class="btn btn-blue m-b-0 monako" title="Project 4 - with description">VER GALERÍA</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>{# /End Portfolio Row #}

        {#
        <!-- Portfolio Footer Cta -->
        <div class="col-md-8 col-md-offset-2 text-center p-t-md wow fadeIn" data-wow-delay="0.8s">
            <h4 class="m-t f-w-900">We turn great ideas into brilliant realities.</h4>
            <p class="p-opacity m-b-md">Quis dolorem architecto nemo, enim pariatur, aliquid laudantium voluptatum animi. Adipisicing rerum, natus repellendus possimus et excepturi. Reprehenderit iste, laborum quod mollitia nesciunt.</p>
            <a href="#" class="btn btn-shadow btn-blue text-uppercase">View more Work</a>
        </div>
        #}

    </div>{# /End Container #}
</section>
{# /End Portfolio Section #}
