{# =========================
     HERO SECTION
============================== #}
<section id="inicio" class="hero bg-video video-play">
    <div class="overlay"></div>
    <div class="container vertical-center-rel">
        <div class="row">
            <div class="col-md-7">
                {#
                <h1 class="text-white p-t-md">Let's make something extraordinary together</h1>
                <p class="lead text-white m-b-md ">We have been collaborating with brands and agencies to build meaningful digital interactions since 2007</p>
                <a href="#portfolio1-1" class="btn btn-shadow btn-blue text-uppercase btn-md smooth-scroll">Featured Work</a>
                #}
            </div>
        </div>{# /End Row #}
    </div>{# /End Container #}
</section>