<!-- =========================
   TEAM
============================== -->
<section id="team4-1" class="p-t-lg p-b-md team">
    <div class="container">
        <!-- Section Header -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header text-center wow fadeIn">
                    <h2 style="font-size: 2.5em; font-weight: bold;" class="monako">Equipo Nupali</h2>
                </div>
            </div>
        </div>

        <div class="row c3">
            <!-- Team Item 1 -->
            <div class="col-md-4">
                <div class="team-member text-center">
                    <div class="tm-img"><img src="
                    images/team-member1.jpg" class="img-responsive m-x-auto" alt=""></div>
                    <div class="tm-details">
                        <p class="tm-name black-text m-b-md f-w-900 monako">Andrea Sanchez<span class="tm-job f-w-900">Lic. en Turismo</span></p>
                        {#
                        <div class="social-btn text-center inverse">
                            <a href="#" class="social-btn sb-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-btn sb-google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-btn sb-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-btn sb-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                        #}
                        <p class="tm-info m-t-md">Lic. en Turismo con bocina integrada en su melodiosa voz nos ayuda a guardar el orden de la asociación, es maestra de flamenco gusta de las manualidades y es experta en redes sociales. Noble y carismática nos regala su trabajo y entusiasmo.</p>
                    </div>
                </div>
            </div>

            <!-- Team Item 2 -->
            <div class="col-md-4">
                <div class="team-member text-center">
                    <div class="tm-img"><img src="
                    images/team-member2.jpg" class="img-responsive m-x-auto" alt=""></div>
                    <div class="tm-details">
                        <p class="tm-name black-text m-b-md f-w-900 monako">David Magallanes Franco<span class="tm-job f-w-900">Licenciado en educación especial</span></p>
                        {#
                        <div class="social-btn text-center inverse">
                            <a href="#" class="social-btn sb-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-btn sb-google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-btn sb-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-btn sb-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                        #}
                        <p class="tm-info m-t-md">Licenciado en educación especial, gusta de los tacos, las tortas jumbo y de ayudar a las demás personas a entender la discapacidad de manera amena y consiente. Le gusta el tequila, las caminatas largas (cada año hace la caminata de la virgen de talpa :/) y es el coordinador y facilitador estrella de Nupali.</p>
                    </div>
                </div>
            </div>

            <!-- Team Item 3 -->
            <div class="col-md-4">
                <div class="team-member text-center">
                    <div class="tm-img"><img src="
                    images/team-member3.jpg" class="img-responsive m-x-auto" alt=""></div>
                    <div class="tm-details">
                        <p class="tm-name black-text m-b-md f-w-900 monako">Diana Nieto Torres<span class="tm-job f-w-900">Estudia y trabaja</span></p>
                        {#
                        <div class="social-btn text-center inverse">
                            <a href="#" class="social-btn sb-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-btn sb-google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-btn sb-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-btn sb-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                        #}
                        <p class="tm-info m-t-md">Con 1, 20 de estatura y 22 años de edad llego a la asociación para no irse jamás. Estudia y trabaja apoyando a su familia. Le gusta viajar, las cahuamas y es la persona mas leal del equipo. Con su risa inconfundible y su gran energía es parte fundamental de Nupali.</p>
                    </div>
                </div>
            </div>

            <!-- Team Item 4 -->
            <div class="col-md-4">
                <div class="team-member text-center">
                    <div class="tm-img"><img src="
                    images/team-member3.jpg" class="img-responsive m-x-auto" alt=""></div>
                    <div class="tm-details">
                        <p class="tm-name black-text m-b-md f-w-900 monako">Gerardo Espíndola García<span class="tm-job f-w-900">Licenciado en CTC, camarógrafo FreeLancer</span></p>
                        {#
                        <div class="social-btn text-center inverse">
                            <a href="#" class="social-btn sb-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-btn sb-google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-btn sb-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-btn sb-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                        #}
                        <p class="tm-info m-t-md">33 años y Licenciado en CTC, camarógrafo FreeLancer, le gusta dar largas caminatas por la playa al atardecer, la música variada (hasta el momento nadie entiende lo que escucha) es el guardián del orden y la eficacia dentro de la asociación además uno de sus fundadores.</p>
                    </div>
                </div>
            </div>

            <!-- Team Item 4 -->
            <div class="col-md-4">
                <div class="team-member text-center">
                    <div class="tm-img"><img src="
                    images/team-member3.jpg" class="img-responsive m-x-auto" alt=""></div>
                    <div class="tm-details">
                        <p class="tm-name black-text m-b-md f-w-900 monako">Gustavo Aceves Torres<span class="tm-job f-w-900">Don Arquitecto</span></p>
                        {#
                        <div class="social-btn text-center inverse">
                            <a href="#" class="social-btn sb-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-btn sb-google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-btn sb-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-btn sb-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                        #}
                        <p class="tm-info m-t-md">(Don Arquitecto) con 33 años sigue en la búsqueda de la verdad de la vida, gran fan de Metálica y el deporte, le gusta correr y andar en bicicleta. Gracias a su entusiasmo e iniciativa iniciamos este viaje hacia Nupali, el lleva la cuentas y la alegría a este gran equipo.</p>
                    </div>
                </div>
            </div>

            <!-- Team Item 4 -->
            <div class="col-md-4">
                <div class="team-member text-center">
                    <div class="tm-img"><img src="
                    images/team-member3.jpg" class="img-responsive m-x-auto" alt=""></div>
                    <div class="tm-details">
                        <p class="tm-name black-text m-b-md f-w-900 monako">Jessica  Quiñonez<span class="tm-job f-w-900">Licenciada en técnicas de la comunicación</span></p>
                        {#
                        <div class="social-btn text-center inverse">
                            <a href="#" class="social-btn sb-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-btn sb-google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-btn sb-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-btn sb-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                        #}
                        <p class="tm-info m-t-md">34 años, licenciada en técnicas de la comunicación y mil usos, es uno de los fundadores de Nupali y la encargada de relaciones públicas, con una gran sonrisa, ante todo. Le gustan las terapias alternativas, viajar y cuidar a su equipo. Su color favorito es el rojo.</p>
                    </div>
                </div>
            </div>
        </div><!-- /End Row -->
    </div><!-- /End Container -->
</section>   
<!-- /End Team Section -->