/* ==========================================================================
   04. BUTTONS
========================================================================== */
.btn,
a.btn {
    display: inline-block;
    color: #ffffff;
    padding: 11px 18px;
    margin-bottom: 7px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
    vertical-align: middle;
    white-space: pre-line;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn:focus,
a.btn:focus,
.btn:hover,
a.btn:hover,
.btn.active:focus,
a.btn.active:focus,
.btn:active:focus,
a.btn:active:focus {
    color: #fff;
    outline: none;
}

.btn-md,
a.btn-md {
    padding: 15px 25px;
    font-size: 16px;
}

.btn-lg,
a.btn-lg {
    padding: 25px 60px;
    font-size: 18px;
}

/*------------------------------------------*/
/*  Menu Buttons
/*------------------------------------------*/
.btn-nav,
a.btn-nav,
.navbar-nav>li>a.btn-nav {
    color: #ffffff;
    margin-right: 0;
    margin-bottom: 0;
    opacity: 1 !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.active .btn-nav {
    background-color: #525e6c !important;
}

.cta-header .active .btn-blue.btn-nav {
    background-color: #439FE0 !important;
}

.cta-header .active .btn-nav.btn-green {
    background-color: #56B68B !important;
}

.cta-header .active .btn-nav.btn-yellow {
    background-color: #f1c40f !important;
}

.btn.btn-border {
    background-color: transparent !important;
}

/*------------------------------------------*/
/*  Grey Buttons
/*------------------------------------------*/
.btn-grey,
a.inverse.btn-grey,
.inverse a.btn-grey {
    background-color: #EFF1F4;
    color:#69696E!important;
}

.btn.btn-grey {
    border: 3px solid #EFF1F4;
}

.btn-grey:hover,
.btn-nav.btn-grey:hover,
.btn-grey:focus,
.btn-nav.btn-grey:focus {
    background-color: #d7dce5;
}

.btn.btn-grey:hover,
.btn.btn-grey:focus {
    border: 3px solid #d7dce5;
}

.btn-shadow.btn-grey {
    -webkit-box-shadow: 0 4px 0 #c7c8c9;
    -moz-box-shadow: 0 4px 0 #c7c8c9;
    box-shadow: 0 4px 0 #c7c8c9;
}

.btn-border.btn-grey,
a.btn-border.btn-grey {
    color: #EFF1F4;
}

/*------------------------------------------*/
/*  Orange Buttons
/*------------------------------------------*/
.btn-orange,
a.inverse.btn-orange,
.inverse a.btn-orange {
    background-color: #ef7c46;
}

.btn.btn-orange {
    border: 3px solid #ef7c46;
}

.btn-orange:hover,
.btn-nav.btn-orange:hover,
.btn-orange:focus,
.btn-nav.btn-orange:focus {
    background-color: #ec6120;
}

.btn.btn-orange:hover,
.btn.btn-orange:focus {
    border: 3px solid #ec6120;
}

.btn-shadow.btn-orange {
    -webkit-box-shadow: 0 4px 0 #c76f45;
    -moz-box-shadow: 0 4px 0 #c76f45;
    box-shadow: 0 4px 0 #c76f45;
}

.btn-border.btn-orange,
a.btn-border.btn-orange {
    color: #ef7c46;
}

/*------------------------------------------*/
/*  Blue Buttons
/*------------------------------------------*/
.btn-blue,
a.inverse.btn-blue,
.inverse a.btn-blue {
    background-color: #439FE0;
}

.btn.btn-blue {
    border: 3px solid #439FE0;
}

.btn-blue:hover,
.btn-nav.btn-blue:hover,
.btn-blue:focus,
.btn-nav.btn-blue:focus {
    background-color: #1d83c9;
}

.btn.btn-blue:hover,
.btn.btn-blue:focus {
    border: 3px solid #1d83c9;
}

.btn-shadow.btn-blue {
    -webkit-box-shadow: 0 4px 0 #437598;
    -moz-box-shadow: 0 4px 0 #437598;
    box-shadow: 0 4px 0 #437598;
}

.btn-border.btn-blue,
a.btn-border.btn-blue  {
    color: #439FE0;
}

/*------------------------------------------*/
/*  Green Buttons
/*------------------------------------------*/
.btn-green,
a.inverse.btn-green,
.inverse a.btn-green {
    background-color: #56B68B;
}

.btn.btn-green {
    border: 3px solid #56B68B;
}

.btn-green:hover,
.btn-nav.btn-green:hover,
.btn-green:focus,
.btn-nav.btn-green:focus {
    background-color: #24a86d;
}

.btn.btn-green:hover,
.btn.btn-green:focus {
    border: 3px solid #24a86d;
}

.btn-shadow.btn-green {
    -webkit-box-shadow: 0 4px 0 #487d65;
    -moz-box-shadow: 0 4px 0 #487d65;
    box-shadow: 0 4px 0 #487d65;
}

.btn-border.btn-green,
a.btn-border.btn-green {
    color: #56B68B;
}

/*------------------------------------------*/
/*  Red Buttons
/*------------------------------------------*/
.btn-red,
a.inverse.btn-red,
.inverse a.btn-red {
    background-color: #e74c3c;
}

.btn.btn-red {
    border: 3px solid #e74c3c;
}

.btn-red:hover,
.btn-nav.btn-red:hover,
.btn-red:focus,
.btn-nav.btn-red:focus {
    background-color: #db2b19;
}

.btn.btn-red:hover,
.btn.btn-red:focus {
    border: 3px solid #db2b19;
}

.btn-shadow.btn-red {
    -webkit-box-shadow: 0 4px 0 #ba463a;
    -moz-box-shadow: 0 4px 0 #ba463a;
    box-shadow: 0 4px 0 #ba463a;
}

.btn-border.btn-red,
a.btn-border.btn-red  {
    color: #e74c3c;
}

/*------------------------------------------*/
/*  Purple Buttons
/*------------------------------------------*/
.btn-purple,
a.inverse.btn-purple,
.inverse a.btn-purple {
    background-color: #8e44ad;
}

.btn.btn-purple {
    border: 3px solid #8e44ad;
}

.btn-purple:hover,
.btn-nav.btn-purple:hover,
.btn-purple:focus,
.btn-nav.btn-purple:focus {
    background-color: #722294;
}

.btn.btn-purple:hover,
.btn.btn-purple:focus {
    border: 3px solid #722294;
}

.btn-shadow.btn-purple {
    -webkit-box-shadow: 0 4px 0 #66377a;
    -moz-box-shadow: 0 4px 0 #66377a;
    box-shadow: 0 4px 0 #66377a;
}

.btn-border.btn-purple,
a.btn-border.btn-purple {
    color: #8e44ad;
}

/*------------------------------------------*/
/*  Yellow Buttons
/*------------------------------------------*/
.btn-yellow,
a.inverse.btn-yellow,
.inverse a.btn-yellow {
    background-color: #f1c40f;
}

.btn.btn-yellow {
    border: 3px solid #f1c40f;
}

.btn-yellow:hover,
.btn-nav.btn-yellow:hover,
.btn-yellow:focus,
.btn-nav.btn-yellow:focus {
    background-color: #ddb100;
}

.btn.btn-yellow:hover,
.btn.btn-yellow:focus {
    border: 3px solid #ddb100;
}

.btn-shadow.btn-yellow {
    -webkit-box-shadow: 0 4px 0 #d1b234;
    -moz-box-shadow: 0 4px 0 #d1b234;
    box-shadow: 0 4px 0 #d1b234;
}

.btn-border.btn-yellow,
a.btn-border.btn-yellow {
    color: #f1c40f;
}

/*------------------------------------------*/
/*  Dark Buttons
/*------------------------------------------*/
.btn-dark,
a.inverse.btn-dark,
.inverse a.btn-dark {
    background-color: #525e6c;
}

.btn.btn-dark {
    border: 3px solid #525e6c;
}

.btn-dark:hover,
.btn-nav.btn-dark:hover,
.btn-dark:focus,
.btn-nav.btn-dark:focus {
    background-color: #38485b;
}

.btn.btn-dark:hover,
.btn.btn-dark:focus {
    border: 3px solid #38485b;
}

.btn-shadow.btn-dark {
    -webkit-box-shadow: 0 4px 0 #31363b;
    -moz-box-shadow: 0 4px 0 #31363b;
    box-shadow: 0 4px 0 #31363b;
}

.btn-border.btn-dark,
a.btn-border.btn-dark {
    color: #525e6c;
}

/*------------------------------------------*/
/*  Black Buttons
/*------------------------------------------*/
.btn-black,
a.inverse.btn-black,
.inverse a.btn-black {
    background-color: #2e3234;
}

.btn.btn-black {
    border: 3px solid #2e3234;
}

.btn-black:hover,
.btn-nav.btn-black:hover,
.btn-black:focus,
.btn-nav.btn-black:focus {
    background-color: #21272a;
}

.btn.btn-black:hover,
.btn.btn-black:focus {
    border: 3px solid #21272a;
}

.btn-shadow.btn-black {
    -webkit-box-shadow: 0 4px 0 #0a0b0b;
    -moz-box-shadow: 0 4px 0 #0a0b0b;
    box-shadow: 0 4px 0 #0a0b0b;
}

.btn-border.btn-black,
a.btn-border.btn-black {
    color: #2e3234;
}

/*------------------------------------------*/
/*  Ghost-White Buttons
/*------------------------------------------*/
.btn-ghost {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
}

.btn-ghost:hover {
    background-color: #fff;
    color: #69696E!important;
}

.btn-white {
    background-color: #fff;
    border: 3px solid #fff;
    color: #69696E!important;
}

.btn-white:hover {
    background-color: transparent;
    color: #fff!important;
}

/*------------------------------------------*/
/*  Social Buttons
/*------------------------------------------*/
.social-btn a {
    font-size: 22px!important;
    border-radius: 50px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -10px 0 0 1px;
    color: #fff;
    text-align: center;
}

.social-btn a>i {
    margin-top: 10px;
}

.social-btn a:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

.sb-facebook {
    background-color: #3b5998;
}

.sb-facebook:hover {
    background-color: #4c70ba;
}

.sb-foursquare {
    background-color: #ef4b78;
}

.sb-foursquare:hover {
    background-color: #f37a9b;
}

.sb-google-plus {
    background-color: #dd4b39;
}

.sb-google-plus:hover {
    background-color: #e47365;
}

.sb-instagram {
    background-color: #3f729b;
}

.sb-instagram:hover {
    background-color: #548cb9;
}

.sb-linkedin {
    background-color: #0976b4;
}

.sb-linkedin:hover {
    background-color: #0b96e5;
}

.sb-pinterest {
    background-color: #cc2127;
}

.sb-pinterest:hover {
    background-color: #e04046;
}

.sb-skype {
    background-color: #00aff0;
}

.sb-skype:hover {
    background-color: #24c4ff;
}

.sb-twitter {
    background-color: #55acee;
}

.sb-twitter:hover {
    background-color: #83c3f3;
}

.sb-vimeo {
    background-color: #1ab7ea;
}

.sb-vimeo:hover {
    background-color: #49c6ee;
}

.sb-youtube {
    background-color: #e52d27;
}

.sb-youtube:hover {
    background-color: #ea5955;
}

.sb-grey {
    background-color: #EFF1F4;
}

.sb-white {
    background-color: #ffffff;
}

.sb-black {
    background-color: #69696E;
}

/*------------------------------------------*/
/*  App-Store Buttons
/*------------------------------------------*/
.btn-app,
a.btn-app {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    padding: 13px 20px 13px 60px;
    position: relative;
    display: inline-block;
    font-size: 25px;
    line-height: 20px;
    font-weight: 700;
    margin: 4px;
    text-align: left;
}

.btn-app i {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 45px;
}

.btn-app span {
    display: block;
    font-size: 12px;
    padding-left: 2px;
}

.btn-app.google-play i {
    top: 7px;
}

.btn-app.windows-store {
    padding-left: 70px;
}

/*------------------------------------------*/
/*   Back to Top Button
/*------------------------------------------*/
.top {
    display: inline-block;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #439FE0 url("../images/top-arrow.svg") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.top.is-visible, .top.fade-out, .no-touch .top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.top.is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.top.fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .top:hover {
    background-color: #e86256;
    opacity: 1;
}