/* ==========================================================================
   10. CONTENT SECTION
========================================================================== */
.section-header {
    margin-bottom: 50px;
}

.section-header span {
    display: block;
}

.content-border {
    border-bottom: 1px solid #E5E5E5;
}

.content-block h5,
.content-block .h5{
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
}

.content-block .lead {
    font-size: 20px;
    line-height: 24px;
}

.content-block img:hover {
    opacity: 0.8;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.content-block .img-circle {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

/*------------------------------------------*/
/*  Content Dashboard
/*------------------------------------------*/
.content-dashboard {
    overflow-x: hidden;
}

.content-dashboard .dash-left {
    margin-left: -400px;
}

/*------------------------------------------*/
/*  Content Split
/*------------------------------------------*/
.content-split {
    position: relative;
}

.content-split .img-block {
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    margin: 0px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-split .img-block.left-block {
    left: 0;
}

.content-split .content-block {
    height: 600px;
    padding-left: 0;
    padding-right: 60px;
}

/*------------------------------------------*/
/*  Content Spotlight
/*------------------------------------------*/
.content-spotlight {
    margin-bottom: 20px;
}

.spotlight-block>figure{
    height: 500px;
    position: relative;
    overflow: hidden;
}

.spotlight-block>.spotlight-text {
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;
}

.spotlight-block>figure>.img-wrap {
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.spotlight-block>figure>.img-wrap:hover {
    opacity: 0.8;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.spotlight-block.img-left>.spotlight-text,
.spotlight-block.img-right>figure
{
    overflow: visible;
    z-index: 2;
}

.spotlight-block.img-left>.spotlight-text:after,
.spotlight-block.img-right>figure:after{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    left: -10px;
    top: 0;
    bottom: 0;
    background: #fff;
}

.spotlight-block>.spotlight-text h6 {
    font-size: 17px;
    margin-bottom: 20px;
}

/*------------------------------------------*/
/*  Content Grid
/*------------------------------------------*/
.content-grid > div {
    height: 600px;
    overflow: hidden;
}

.content-grid > div:first-child {
    padding-right: 5px;
}

.content-grid .lead-block {
    padding: 80px 40px;
    margin-bottom: 20px;
}

.content-grid .img-block {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}