/* ==========================================================================
   01. GENERAL STYLE
========================================================================== */
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #69696E;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

.main-container {
    overflow: hidden;
}

section{
    position: relative;
    overflow: hidden;
}

/*------------------------------------------*/
/*   Links
/*------------------------------------------*/
a,
a:link,
a:visited,
a:hover,
a:active {
    color: #439fe0;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

a.inverse,
.inverse a,
i.inverse {
    color: #ffffff !important;
}

/*------------------------------------------*/
/*   Blockquote
/*------------------------------------------*/
blockquote {
    border-left: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
}

/*------------------------------------------*/
/*   Iframe
/*------------------------------------------*/
iframe {
    border: 0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
}

.videoWrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* for page builder */
.videoWrapper > .frameCover {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: none;
}

/*------------------------------------------------------------------*/
/*   Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}