/* ==========================================================================
   09. HERO SECTION
========================================================================== */
/*------------------------------------------*/
/*  Hero General
/*------------------------------------------*/
.hero {
    height: 700px;
}

.hero.height-800,
.hero.height-800-fix {
    height: 800px;
}

.hero .lead {
    font-weight: 700;
}

.hero .btn a {
    font-size: 17px;
    color: #ffffff;
}

.hero p.small a {
    font-size: 15px;
}

.hero h1 {
    margin-bottom: 20px;
}

/*------------------------------------------*/
/*  Hero Closeup
/*------------------------------------------*/
.closeup-box {
    position: absolute;
    bottom: 0;
    width: 50%;
}

.closeup-box img {
    float: right;
    height: 650px;
}

.closeup-box.closeup-right {
    right: 0;
}

.closeup-box.closeup-right img {
    float: left;
}

/*------------------------------------------*/
/*  Hero with Lists
/*------------------------------------------*/
.hero .list-unstyled li {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: 700;
}

.hero .list-unstyled li>i {
    font-size: 32px;
    font-weight: 700;
    vertical-align: sub;
    margin-right: 5px;
}

/*------------------------------------------*/
/*  Hero Dashboard-Img
/*------------------------------------------*/
.dashboard-box {
    position: absolute;
    bottom: -50px;
    width: 50%;
}

.dashboard-box.dashboard-right {
    right: 0;
}

.dashboard-box img {
    height: 600px;
    padding-left:20px;
}

.owl-dashboard .owl-controls {
    position: absolute;
    bottom: 102%;
    width: 100%;
}

.owl-dashboard .owl-controls .owl-pagination {
    margin: 0 auto;
}

/*------------------------------------------*/
/*  Hero Devices/Countdown
/*------------------------------------------*/
.hero.hero-devices {
    height: auto;
    padding-top: 140px;
    padding-bottom: 80px;
}

.hero.hero-devices .app-image {
    margin-top: 10px;
}

.hero.hero-countdown {
    height: auto;
    padding-top: 160px;
    padding-bottom: 100px;
}

/*------------------------------------------*/
/*  Hero Leadbox
/*------------------------------------------*/
.hero-leadbox {
    height: auto;
    padding-top: 150px;
    padding-bottom: 100px;
}

.hero-leadbox .form-horizontal {
    padding: 30px 40px 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 6px 0 rgba(0,0,0,.1);
    background-color: #525e6c;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-leadbox .form-horizontal.form-2col {
    padding: 40px 40px 20px;
}

.hero-leadbox h5 {
    font-size: 20px;
    font-weight: 900;
}

.hero-leadbox .form-group.w-50 input {
    display: inline-block;
    width: 49.5%;
}

.hero-leadbox .feature-box i {
    font-size: 50px;
    font-weight: 400;
    margin-right: 10px;
}

.hero-leadbox .feature-box h5,
.hero-leadbox .feature-box p {
    margin-left: 80px;
}

.hero-leadbox .feature-box h5 {
    margin-bottom: 5px;
}

.hero-leadbox .form-group button.picker__button--today,
.hero-leadbox .form-group button.picker__button--clear,
.hero-leadbox .form-group button.picker__button--close {
    width: 33%;
}

/*------------------------------------------*/
/*  Hero Video Popup
/*------------------------------------------*/
.popup-box {
    position: relative;
}

.popup-box img {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
}

.popup-box .popup-button {
    position: absolute;
    top: 40%;
    left: 40%;
}

.popup-box .popup-button i {
    font-size: 50px;
    margin-top: -22px;
    color: #ffffff;
    padding: 23px 24px 22px 35px;
    background: #56B68B;
    border-radius: 50%;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,.29);
}

.big-popup i {
    font-size: 150px;
    color: #fff;
}

.big-popup i:hover,
.popup-box .popup-button i:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.watch-video{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 25px;
}

.watch-video i{
    font-size: 28px;
    margin-right: 5px;
    vertical-align: sub;
}

.watch-video:hover i {
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    margin-right: 10px;
}