/* ==========================================================================
   18. PRICING SECTION
=========================================================================== */
/* Pricing 3 Plans Flat */
.pricing-3pf .info {
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pricing-3pf .info .price {
    font-size: 95px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 50px;
}

.pricing-3pf .info .price .currency {
    font-size: 50px;
    font-weight: 400;
    vertical-align: super;
    margin-right: -15px;
}

.pricing-3pf .info .price .cents {
    font-size: 30px;
    font-weight: 400;
    vertical-align: bottom;
    margin-left: -15px;
}

.pricing-3pf .details h5 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

.pricing-3pf .details p {
    font-size: 17px;
    line-height: 17px;
}

.pricing-3pf .details ul {
    padding-left: 0;
    list-style-type: none;
}

.pricing-3pf .details ul>li  {
    margin-bottom: 15px;
}

.pricing-3pf .green .details h5,
.pricing-3pf .green .details p {
    color: #56B68B;
}

.pricing-3pf .green .details hr {
    border-color: #56B68B;
}

.pricing-3pf .blue .details h5,
.pricing-3pf .blue .details p {
    color: #439FE0;
}

.pricing-3pf .blue .details hr {
    border-color: #439FE0;
}

.pricing-3pf .purple .details h5,
.pricing-3pf .purple .details p {
    color: #8e44ad;
}

.pricing-3pf .purple .details hr {
    border-color: #8e44ad;
}

.pricing-3pf .dark .details h5,
.pricing-3pf .dark .details p {
    color: #525e6c;
}

.pricing-3pf .dark .details hr {
    border-color: #525e6c;
}

.pricing-3pf .red .details h5,
.pricing-3pf .red .details p {
    color: #e74c3c;
}

.pricing-3pf .red .details hr {
    border-color: #e74c3c;
}

/* Pricing 3 Plans Outlined */
.pricing-3po .info {
    padding: 35px 20px;
    border: solid 3px #EFF1F4;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.pricing-3po .info.bg-color {
    border-color: transparent;
}

.pricing-3po .green .info{
    border-color: #56B68B;
}

.pricing-3po .info .price {
    font-size: 80px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-right: 20px;
}

.pricing-3po .info .price .currency {
    font-size: 30px;
    font-weight: 400;
    vertical-align: super;
    margin-right: 0px;
}

.pricing-3po .details li  {
    margin-bottom: 10px;
}

.pricing-3po .details {
    padding-left: 0;
    list-style-type: none;
}

/* Pricing Single with Testimonials */
.pricing-st .info {
    background: #EEF0F3;
    border-top: 3px solid #EEF0F3;
    max-width: 400px;
    padding: 50px 60px;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.pricing-st .info:hover {
    border-color: #56B68B;
}

.pricing-st .info h4 {
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(139, 144, 157, 0.18);
}

.pricing-st .info p {
    font-size: 17px;
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(139, 144, 157, 0.18);
}

.pricing-st .info .price {
    font-size: 80px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 35px;
    margin-right: 20px;
}

.pricing-st .info .price .currency {
    font-size: 30px;
    font-weight: 400;
    vertical-align: super;
    margin-right: 0;
}

.pricing-st .details {
    padding-left: 0;
    list-style-type: none;
    font-style: italic;
}

.pricing-st .price {
    color: #56B68B;
}

.pricing-st p {
    font-size: 18px;
    line-height: 22px;
}

/* Pricing Single Centered */
.pricing-sc .info {
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
}

.pricing-sc .price {
    color: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 900;
}

.pricing-sc .price .tag {
    display: block;
    padding-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.pricing-sc .price .currency {
    font-size: 30px;
    font-weight: 400;
    vertical-align: super;
    margin-right: 0;
}

/* Pricing 2 Plans */
.pricing-2p .info {
    background: #fff;
    border: 2px solid #EFF1F4;
    border-radius: 5px;
    padding: 40px 50px;
}

.pricing-2p h4 {
    display: inline-block;
    text-align: left;
}

.pricing-2p .price{
    display: inline-block;
    float: right;
    clear: both;
    font-size: 35px;
    font-weight: 700;
}

.pricing-2p .price span{
    font-size: 27px;
    font-weight: 400;
}

.pricing-2p .details {
    padding-left: 0;
    list-style-type: none;
    font-size: 19px;
}

.pricing-2p .details li {
    margin-bottom: 10px;
}

.pricing-2p .details li i {
    font-weight: 400;
    font-size: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.pricing-2p .green .price,
.pricing-2p .green .details li i {
    color: #56B68B;
}

.pricing-2p .blue .price,
.pricing-2p .blue .details li i {
    color: #439FE0;
}

.pricing-2p .red .price,
.pricing-2p .red .details li i {
    color: #e74c3c;
}

.pricing-2p .info a {
    width: 100%;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

/* Pricing Dynamic Table */
.pricing-table {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0,0,0,.1);
}

.pricing-table li {
    padding: 15px 20px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

.pricing-table li.price {
    text-align: center;
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 56px;
    background-color: #439FE0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pricing-table li.price i {
  font-size: 30px;
  font-weight: 400;
  vertical-align: super;
}

.pricing-table li:last-child {
    padding: 15px 20px;
}

.pricing-table li[class^="package"] {
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

li[class^="package"].active {
    height: 35px;
    padding: 15px 20px 0;
    font-weight: 700;
    font-size: 17px;
}

.options-table {
    padding: 30px 30px 12px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 3px 3px rgba(0,0,0,.1);
}

.options-table .switch {
    display: block;
    height:50px;
}

.options-table .switch:last-child {
    margin-bottom: 0px;
}

.options-table .switch .package-title {
    float: left;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    margin-top: 3px;
}

.options-table .switch .cmn-toggle,
.options-table .switch label {
    float: right;
}

.package-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.package-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.toggle-round-flat + label {
  padding: 1px;
  width: 60px;
  height: 30px;
  background-color: #EFF1F4;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.toggle-round-flat + label:before, input.toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #EFF1F4;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.toggle-round-flat + label:after {
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 26px;
  background-color: #fff;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.toggle-round-flat:checked + label,
input.toggle-round-flat:checked + label:before {
  background-color: #56B68B;
}

input.toggle-round-flat:checked + label:after {
  margin-left: 30px;
}

/* Pricing with Subscription */
.ticket-prices .item-price {
    border: 3px solid #EFF1F4;
    height: 140px;
    padding-right: 25px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ticket-prices .item-price .amount {
    float: left;
    height: 140px;
    width: 140px;
    margin: -3px 26px 0 -3px;
    color: #fff;
    font-size: 40px;
    line-height:130px;
    font-weight: 900;
    text-align: center;
}

.ticket-prices .item-price h4,
.ticlet-prices .item-price .ticket-info {
    padding-right: 25px;
}

.ticket-prices .item-price h4 {
    padding-top: 4%;
}

.ticket-prices .item-price.active,
.ticket-prices .item-price:hover {
    border: 3px solid #56B68B;
}