/* ==========================================================================
   02. TYPOGRAPHY
========================================================================== */
/* set margin for optimize vertical-align-middle */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p, .lead {
    margin-top: 0;
    margin-bottom: 10px;
}

h1, .h1 {
    font-weight: 900;
    font-size: 52px;
    line-height: 56px;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}

h2, .h2 {
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
}

h3, .h3 {
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
}

h4, .h4 {
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
}

h5, .h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 20px;
}

.p-opacity {
    opacity: 0.7;
}

strong,
b {
    font-weight: 900;
}

.lead {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.lead strong,
.lead b {
    font-weight: 700;
}

/*------------------------------------------------------------------*/
/*   Lato Font Weight
/*-----------------------------------------------------------------*/
.f-w-300 {
    font-weight: 300;
}

.f-w-400 {
    font-weight: 400;
}

.f-w-700 {
    font-weight: 700;
}

.f-w-900 {
    font-weight: 900;
}

/*------------------------------------------------------------------*/
/*   Contextual Colors
/*-----------------------------------------------------------------*/
.text-white {
    color: #ffffff;
}

.text-black {
    color: #69696E;
}

.text-blue {
    color: #439fe0;
}