{% extends 'main.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block section %}{{ _section }}{% endblock %}
{% block content %}
	<a href="{{ _host }}" title="">Home</a>
	<a href="{{ _host }}como-ayudar" title="">¿Cómo ayudar?</a>
{% endblock content %}