<!-- =========================
           CONTACT SECTION
        ============================== -->
        <section id="contact7-1" class="p-t-md bg-edit bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 c4 contact-divider text-white p-b-md text-center">
                        <div class="col-md-3">
                            <i class="icon-map-marker"></i>
                            <h5 class="f-w-900 monako">Domicilio</h5>
                            <p class="f-w-700">
                                Antonio Flores #1597 Int 3. <br>
                                Col. Paseos del sol. <br>
                                C.P. 45079 <br>
                                Zapopan, Jalisco, Mexico.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <i class="icon-phone"></i>
                            <h5 class="f-w-900 monako">Telefono</h5>
                            <p class="f-w-700">
                                <a href="tel:+523320144241" class="inverse">52 33 2014 4241</a>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <i class="icon-mail"></i>
                            <h5 class="f-w-900 monako">Email</h5>
                            <p class="f-w-700">
                                <a href="mailto:contacto@nupali.org" class="inverse">contacto@nupali.org</a>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <i class="icon-up-arrow"></i>
                            <h5 class="f-w-900"></h5>
                            <p class="f-w-700">
                                RFC. NUP-140411-378<br>
                                CLUNI - NUP140411-1401X <br>
                                IJAS - 2.499
                            </p>
                        </div>
                    </div>
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </section>
        <!-- /End Contact Section -->


        <!-- =========================
             FOOTER
        ============================== -->
        <footer id="footer2-2" class="p-y footer f2 bg-edit bg-black">
            <div class="container">
                <div class="row text-white">
                    <div class="col-sm-4 col-xs-12">
                        <p class="monako">© Derechos reservados Nupali {{ _anio }}.</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        {#
                        <ul class="footer-social">
                            <li><a href="" class="inverse"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" class="inverse"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" class="inverse"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        #}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <ul class="footer-links">
                            <li>
                                <a href="{{ _host }}aviso-de-privacidad" class="edit inverse monako">Aviso de privacidad</a>
                            </li>
                            {#
                            <li><a href="" title="" class="edit inverse">Terms of use</a></li>
                            <li><a href="mailto:mail@themedept.com" class="edit inverse"><i class="fa fa-envelope-o"></i>Get in touch</a></li>
                            #}
                        </ul>
                    </div>
                </div><!-- /End Row -->
            </div><!-- /End Container -->

        </footer>
        <!-- /End Footer -->