{# =========================
     FOOTER
============================== #}
<footer id="footer1-1" class="p-y-md footer f1 bg-edit bg-grey">
    <div class="container">
        <div class="row">
            {# Copy #}
            <div class="col-sm-8">
                <p>Nupali A.C. - &copy; 2017</p>
            </div>
            {# Social Links #}
            {#
            <div class="col-sm-4">
                <ul class="footer-social">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            #}
        </div>{# /End Row #}
    </div>{# /End Container #}
</footer>
{# /End Footer #}