<!-- =========================
   CONTACT SECTION
============================== -->
<section id="contact7-1" class="p-t-md bg-edit bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 c4 contact-divider text-white text-center">
                <div class="col-md-3">
                    <i class="icon-map-marker"></i>
                    <h5 class="f-w-900 monako">Domicilio</h5>
                    <p class="f-w-700">
                        Antonio Flores #1597 Int 3. <br>
                        Col. Paseos del sol. <br>
                        C.P. 45079 <br>
                        Zapopan, Jalisco, Mexico.
                    </p>
                </div>
                <div class="col-md-3">
                    <i class="icon-phone"></i>
                    <h5 class="f-w-900 monako">Telefono</h5>
                    <p class="f-w-700">
                        <a href="tel:+523320144241" class="inverse">52 33 2014 4241</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <i class="icon-mail"></i>
                    <h5 class="f-w-900 monako">Email</h5>
                    <p class="f-w-700">
                        <a href="mailto:contacto@nupali.org" class="inverse">contacto@nupali.org</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <i class="icon-up-arrow"></i>
                    <h5 class="f-w-900"></h5>
                    <p class="f-w-700">
                        RFC. NUP-140411-378<br>
                        CLUNI - NUP140411-1401X <br>
                        IJAS - 2.499
                    </p>
                </div>
            </div>
        </div><!-- /End Row -->
    </div><!-- /End Container -->
</section>
<!-- /End Contact Section -->

<!-- =========================
   SOCIAL MEDIA
============================== -->
<section id="contact7-1" class="p-t-md bg-edit bg-dark footer-social-media">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="div-line"></span>
            </div>
        </div>
        <ul class="foot-sm-list-icons clearfix">
            <li class="clearfix">
                <a href="https://www.instagram.com/nupaliac/" class="icon-button instagram footer-icon grey-text text-lighten-3" target="_blank" data-title="Social Media - instagram" title="Instagram">
                    <i class="fa fa-instagram"></i>
                    <span></span>
                </a>
            </li>
            <li class="clearfix">
                <a href="https://www.facebook.com/Nupali-589518057826208/?fref=ts" class="icon-button facebook footer-icon grey-text text-lighten-3" target="_blank" data-title="Social Media - Facebook" title="Facebook">
                    <i class="fa fa-facebook"></i>
                    <span></span>
                </a>
            </li>
            <li class="clearfix">
                <a href="https://twitter.com/NupaliAC" class="icon-button twitter footer-icon grey-text text-lighten-3" target="_blank" data-title="Social Media - Twitter" title="Twitter">
                    <i class="fa fa-twitter"></i>
                    <span></span>
                </a>
            </li>
            <li class="clearfix">
                <a href="https://www.youtube.com/channel/UCuNsBHgJJrgcc-jvUsLfbeg" class="icon-button youtube footer-icon grey-text text-lighten-3" target="_blank" data-title="Social Media - Youtube" title="Youtube">
                    <i class="fa fa-youtube"></i>
                    <span></span>
                </a>
            </li>
        </ul>
    </div><!-- /End Container -->
</section>
<style type="text/css">
    body.nupali section.footer-social-media .div-line {
        position: relative;
        display: block;
        margin: 0 auto 5%;
        width: 80%;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
    }
    body.nupali section.footer-social-media {
        padding: 40px 0px 40px 0px;
        text-align: center;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li {
        display: inline-block;
        border-left: 1px solid rgba(255,255,255,0);
        /*
        border-left: 1px solid rgba(74,74,74,.55);
        */
        vertical-align: middle;
        margin-right: -4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px 30px;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li:first-child {
        border-left: 1px solid rgba(255,255,255,0);
        /*
        border-left: 1px solid rgba(74,74,74,0);
        */
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li:last-child {
        border-right: 1px solid rgba(255,255,255,0);
        /*
        border-right: 1px solid rgba(74,74,74,0);
        */
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .icon-button {
        background-color: transparent;
        border-radius: 6.6rem;
        cursor: pointer;
        display: inline-block;
        font-size: 2.0rem;
        height: 6.6rem;
        line-height: 6.6rem;
        margin: 0 5px;
        position: relative;
        text-align: center;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        width: 6.6rem;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .icon-button i {
        /*
        background: none;
        */
        color: #fff;
        font-size: 1.3em;
        line-height: 6.6rem;
        position: relative;
        top: 0;
        left: 0;
        -webkit-transition: all 0.3s;
           -moz-transition: all 0.3s;
             -o-transition: all 0.3s;
                transition: all 0.3s;
        height: 6.6rem;
        width: 6.6rem;
        z-index: 5;
        background-position: center center;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .icon-button span {
        border-radius: 0;
        display: block;
        height: 0;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: all 0.3s;
           -moz-transition: all 0.3s;
             -o-transition: all 0.3s;
                transition: all 0.3s;
        width: 0;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .icon-button:hover span {
        width: 6.9rem;
        height: 6.9rem;
        border-radius: 6.9rem;
        margin: -3.4rem;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .twitter span {
        background-color: #4099ff;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .facebook span {
        background-color: #3B5998;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .google span {
        background-color: #db5a3c;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .youtube span {
        background-color: #f45750;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .linkedin span {
        background-color: #0e76a8;
    }
    body.nupali section.footer-social-media ul.foot-sm-list-icons li .instagram span {
        background-color: #8a3ab9;
    }
</style>
<!-- =========================
     FOOTER
============================== -->
<footer id="footer2-2" class="p-y footer f2 bg-edit bg-black">
    <div class="container">
        <div class="row text-white">
            <div class="col-sm-4 col-xs-12">
                <p class="monako">© Derechos reservados Nupali {{ _anio }}.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                {#
                <ul class="footer-social">
                    <li><a href="" class="inverse"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="inverse"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="inverse"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                #}
            </div>
            <div class="col-sm-4 col-xs-12">
                <ul class="footer-links">
                    <li>
                        <a href="{{ _host }}aviso-de-privacidad" class="edit inverse monako">Aviso de privacidad</a>
                    </li>
                    {#
                    <li><a href="" title="" class="edit inverse">Terms of use</a></li>
                    <li><a href="mailto:mail@themedept.com" class="edit inverse"><i class="fa fa-envelope-o"></i>Get in touch</a></li>
                    #}
                </ul>
            </div>
        </div><!-- /End Row -->
    </div><!-- /End Container -->

</footer>
<!-- /End Footer -->