<!-- =========================
    PAGE HEADER
============================== -->
<section class="page-head bg-img p-y-md" style="background-image:url('{{ _host }}img/assets/pageheader/blu-bg-ground.jpg')">
    <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="row c2 h-bg text-white">
            <div class="col-sm-6">
                <h1 class="h3 f-w-900 m-b-0 monako">{{ title }}</h1>
            </div>
            <div class="col-sm-6 text-right">
                <ol class="breadcrumb m-b-0">
                    <li>
                        <a href="{{ _host }}" class="inverse monako">Inicio</a>
                    </li>
                    <li class="active text-white monako">{{ title }}</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- /End Page Header -->