<section class="p-y-md">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                {#<h2 class="monako">ELEMENTAL PARQUE LIBRE.</h2>#}
                <p><strong>NUPALI A.C.</strong> con domicilio en Antonio Flores 1597 int. 3 Col. Paseos del Sol C.P. 45079 en Zapopan Jalisco, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente: De acuerdo a lo previsto en la “Ley Federal de Protección de datos Personales”, como integrantes de esta Asociación Cívil y como responsables del tratamiento de datos personales, se hace de su conocimiento que la información que entrega para recibir servicios, gestiones o cunsulta de cualquier tipo a esta A.C. se maneja de forma estrictamente confidencial</p>
                <hr>
                <strong>¿Para qué fines utilizaremos sus datos personales?</strong>
                <hr>
                <p>Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:</p>
                <ul>
                    <li>Comprobar los servicios recibidos por los beneficiados por su participación en el programa “Asociaciones para el Bienestar”</li>
                </ul>
                <p>De manera adicional, utilizaremos su información personal para las siguientes finalidades que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:</p>
                <ul>
                    <li>Base de datos general de la Asociación que brinda el servicio.</li>
                </ul>
                <hr>
                <p>En caso de que no desee que sus datos personales seoan tratados para estos fines adicionales, desde este momento usted nos puede comunicar lo anterior. La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios.</p>
                <hr>
                <strong>¿Qué datos personales utilizaremos para estos fines?</strong>
                <hr>
                <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales: Nombre, Edad, Sexo, Dirección, Colonia, Municipio, Teléfono o Celular, Email, Tipo de discapacidad.</p>
                <p>Además de los datos personales mencionados anteriormente, para las finalidades informadas en el presente aviso de privacidad utilizaremos los siguientes datos personales considerados como sensibles, que requieren de especial protección:</p>
                <p>¿Con quién compartimos su información personal y para qué fines? Le informamos que sus datos personales son compartidos dentro y fuera del país con las siguientes personas, empresas, organizaciones y autoridades distintas a nosotros, para los siguientes fines:</p>
                
                <hr>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Destinatario de los datos personales</th>
                            <th>País (opcional)</th>
                            <th>Finalidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>COEDIS. Consejo Estatal para la Atención e Inclusión de Personas con Discapacidad.</td>
                            <td>Jalisco, México</td>
                            <td>Base de datos.</td>
                        </tr>
                        <tr>
                            <td>Nupali A.C.</td>
                            <td>Jalisco, México</td>
                            <td>Base de datos.</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <p>Le informamos que para las transferencias indicadas con un asterisco (*) requerimos obtener su consentimiento. Si usted no manifiesta su negativa para dichas transferencias, entenderemos que nos lo ha otorgado.</p>
                <hr>
                <div class="pull-right">
                    <small><i>Última actualización <strong>[01/Junio/2018]</strong>.</i></small>
                </div>
            </div>
        </div>
    </div>
</section>