<section class="error-page " style="height: 395px;">
    <div class="container vertical-align">
        <div class="row">
            <div class="col-sm-12 text-center">
                {# <i class="pe-7s-help2"></i> #}
                <img src="{{ _host }}img/soon.png" alt=". . ." width="150px" style="width: 25%;">
                {# <h1 class="text-black"></h1> #}
                <p class="text-black super-lead">En Construcción</p>
                <div class="col-md-12">
                    <div class="col-md-offset-3 col-md-6">
                        <a href="{{ _host }}" class="btn btn-black bg-grey text-black __btn col-md-12 monako" style="white-space: normal; background: #34ad24; border: 3px solid #34ad24; font-size: 19px;">
                            Regresar al inicio
                        </a>
                    </div>
                    {#<div class="col-md-4">
                        <a href="#social-media" class="btn btn-black bg-grey text-black smooth-down __btn">
                            <i class="fa fa-share-alt fa-fw fa-lg no-float"></i>
                            Redes Sociales
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ _host }}contacto" class="btn btn-black bg-grey text-black __btn">
                            <i class="fa fa-send fa-fw fa-lg no-float"></i>
                            Reportar problema
                        </a>
                    </div>
                    #}
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>