<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <title>
		{% block title %}
		{% endblock %}
	</title>
	<link rel="stylesheet" href="{{ _host }}css/core.css">
</head>
<body>
	<input type="hidden" name="section" id="section" value="{% block section %}{{ _section }}{% endblock %}">
	{% block content %}
    {% endblock content %}
</body>
</html>