<div class="wrap small-width">
    <h3 class="monako">Resultados.</h3>
    <hr>
    <div id="try"></div>
    <ul id="box-container">
        <li class="box">
            <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=6O8DemP4uQ8">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/evento-eco-artistico.jpg" alt="image">
                <p class="monako">Evento: Eco-Artístico</p>
            </a>
        </li>
        <li class="box">
            <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=l4WgTajRbNQ">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/primer-evento-elemental-parque-libre.jpg" alt="image">
                <p class="monako">1er Evento Elemental Parque Libre</p>
            </a>
        </li>
        <li class="box">
            <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=D7xDueiAzS0">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/elemental-parque-libre-mejoras.jpg" alt="image">
                <p class="monako">Elemental Parque Libre mejoras</p>
            </a>
        </li>
        <li class="box">
            <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=iEnk--qA7K0">
                <img src="{{ _host }}img\assets\proyectos\elemental-parque-libre/thumb/resena-evento-3-mayo-jane-s-walk.jpg" alt="image">
                <p class="monako">Reseña del evento 3 de Mayo Jane´s Walk</p>
            </a>
        </li>
    </ul>
</div>