{% extends 'main.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block section %}{{ _section }}{% endblock %}
{% block content %}
	<a href="{{ _host }}" title="">Home</a>
	Página no encontrada.
{% endblock content %}